body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    max-width: min(90%, 1100px);
    margin: 3rem auto;
    background-color: var(--background-body);
    color: var(--text-main);
    line-height: 1.8;
}

a {
    text-decoration: underline;
    color: var(--links);
    transition: 0.2s;
}

a:hover {
    text-decoration: none;
}   

a:focus-visible {
    outline-color: var(--links);
}

input {
    color: var(--text-main);
    border: 2px solid transparent;
    border-radius: 0.25rem;
    padding: 0.55rem;
    font-size: medium;
    background-color: var(--background);
    transition-duration: 0.2s;
}

input:focus {
    outline: none;
    border-color: var(--focus);
}

code {
    background-color: var(--background);
    padding: 0.25rem;
    border-radius: 0.25rem;
    color: var(--text-bright);
}

pre>code {
    padding: 10px;
    display: block;
    overflow-x: auto;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-muted);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}

::-webkit-scrollbar-track {
    background: var(--background-body);
}

blockquote {
    margin: 1.5em 0;
    padding: 0 1.5rem;
    border-left: 5px solid var(--focus);
}

footer {
    padding-top: 1rem;
}

button {
    font-size: 1em;
    padding: 0.6rem;
    background-color: var(--button-base);
    border: 2px solid var(--background-hover);
    border-radius: 0.5rem;
    cursor: pointer;
    transition-duration: 0.2s;    
    color: var(--text-bright);
}

button:hover {
    background-color: var(--button-hover)
}
button:active {
    transform: scale(1.05);
}

button:focus-visible {
    outline: none;
    border: 2px solid var(--focus);
}


dialog {
    
    background-color: var(--background-body);
    color: var(--text-main);
    
    border-radius: 1rem;
    border: 1px solid var(--background-hover);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@keyframes backdrop-appear {
    from {
        opacity: 0;
    }
}
    
dialog::backdrop {
    animation: backdrop-appear 1s;
    background-color: var(--dialog-backdrop);
    backdrop-filter: blur(3px);
}

/* Details and summary, including animation to rotate marker*/

details {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 0.5rem;
    background-color: var(--background-body);
    border: 1px solid var(--background-hover);
    box-sizing: border-box;
}

details > :not(summary) {
    margin-top: 0;
}

details > :last-child {
    margin-bottom: 0;
}

details[open] summary {
    border-radius: 0.4rem 0.4rem 0 0;
    margin-bottom: 0.2rem;
}

summary::marker {
    display: none;
    content: '';
}

summary::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 10px solid var(--text-bright);
    
    position: relative;
    margin-right: 10px;
    transition: 0.2s;
}

details[open] summary::before {
    transform: rotate(90deg);
}

summary {
    border-radius: 0.4rem;
    border: 2px solid transparent;
    background-color: var(--background);
    padding: 0.2rem 1rem;
    margin: -0.5rem;
    cursor: pointer;
    transition-duration: 0.2s;
}

summary:hover {
    background-color: var(--background-hover);
}

summary:focus-visible  {
    outline-color: var(--focus);
    /* border: 2px solid var(--focus); */
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    padding: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    overflow: hidden;

    box-shadow: var(--box-shadow);
}

thead {
    background-color: var(--table);

    color: white;
}

tbody tr {
    background-color: var(--table-bg);
}

tbody tr:nth-child(2n) {
    background-color: var(--table-bg-alt);
}


tbody:last-of-type {
    border-bottom: 0.2rem solid var(--table);

}

th, td {
    padding: 0.5rem;
}

img, video, svg {
    max-width: 100%;
    height: auto;
}