:root {
    --background-body: #f7f7f7;
    --background:#e2e2e2;
    --background-hover: #bbb;

    --text-main: #333;
    --text-bright: #000;
    --text-muted: #999;

    --button-base: #fff;
    --button-hover: #eee;

    --links: #0070E0;

    --focus: #7aa3fc;

}

::backdrop {
    --dialog-backdrop: rgba(0, 0, 0, 0.1);
}